.bullets {
  display: flex;
}

.bullet {
  flex: 0 0 6px;
  max-width: 6px;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  background: $green-extra-lighten;

  cursor: pointer;

  @include transition;

  &:last-child {
    margin-right: 0;
  }

  &.is-active {
    background: $green;
  }
}