extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    include ../partials/_cover.pug

    include ../partials/_mission.pug

    include ../partials/_conditions.pug

    include ../partials/_projects.pug

    include ../partials/_blog.pug

    include ../partials/_news.pug

    include ../partials/_footer.pug
