aside.aside
  .aside__header
    button.aside__btn
      i.sprite.sprite--menu
      span.aside__btn-title меню
  .aside__center
    button.aside__btn
      i.sprite.sprite--search
  .aside__footer
    button.aside__btn
      span.aside__btn-counter 12
      i.sprite.sprite--basket
    button.aside__btn
      span.aside__btn-counter 0
      i.sprite.sprite--favorite
    button.aside__btn
      span.aside__btn-counter 0
      i.sprite.sprite--filters
    button.aside__btn
      i.sprite.sprite--user