section.section.blog(data-scroll-section="")
  img.blog__img(src="assets/images/blog__img.jpg", alt="")
  .container.blog__container
    .blog__large-text Green Land
    h3.gamma.blog__heading #[span.accent.text--none За 15 лет мы накопили знания #[br] и опыт] в ландшафтном #[br]дизайне, эко-дизайне, #[br] озеленении
    .epsilon.blog__subheading.accent.text--none Мы готовы делиться этими знаниями.
    a.btn.blog__btn(href="#") наш блог