section.section.conditions(data-scroll-section="")
  .swiper-container.conditions__slider(data-conditions-slider="")
    .swiper-wrapper
      - for (i = 0; i < conditions.length; i++)
        .swiper-slide.conditions__slide
          img.conditions__slide-img(src=`assets/images/conditions__slide-img-${i + 1}.jpg`, alt="")
          .container.conditions__slide-container
            .conditions__slide-heading.beta Условия работы #[br] #{conditions[i].title}
            a.btn.conditions__slide-btn(href="#") подробнее
    .conditions__slider-controls-wrap
      .container.conditions__slider-controls
        .conditions__slider-bullets(data-conditions-slider-bullets="")
