footer.footer(data-scroll-section="")
  .footer__header
    .container
      .row
        .col.col__xl-7
          a.footer__logo(href="/")
            +logo('white', 395, 72)
        .col.col__xl-9
          +footerDownload('каталог продукции', 'xls, 12 мб')
          +footerDownload('презентация компании', 'pdf, 12 мб')
  .footer__main
    .container
      .row
        .col.col__xl-7
          a.footer__phone(href="tel:+78122091884") 8 812 209-18-84
          .footer__phone-caption.text__sm.text--uppercase.footer__text
            .footer__phone-caption-schedule Пн—Пт: 10 — 18
            .footer__phone-caption-schedule Сб—Вс: выходные
          a.footer__mail(href="mailto:sale@green-land.ru") sale@green-land.ru
          .footer__address.text__lg  Московское шоссе, дом 25, к. 1, #[br] Бизнес-центр «Престиж», офис 248
          .footer__socials
            +footerSocial('facebook')
            +footerSocial('vk')
            +footerSocial('inst')
            +footerSocial('h')
          +footerDownload('реквизиты', 'PDF, 256 кб')
        .col.col__xl-9.footer__main-right
          .footer__menu.row
            .col.col__xl-4
              .footer__menu-title.zeta О нас
              ul.footer__menu-list
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Склад
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Шоурум
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Новости
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Вакансии
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Блог
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Академия Green Land
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Проекты
            .col.col__xl-4
              .footer__menu-title.zeta Работа с нами
              ul.footer__menu-list
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Дизайнерам
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Комплектации для рестаранов, гостиниц, торговых центров, бизнес-центров, СПА
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Дистрибьютерам и оптовым покупателям
            .col.col__xl-4
              .footer__menu-title.zeta Клиентам
              ul.footer__menu-list
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Способы доставки
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Способы оплаты
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Способы возврата
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Гарантия
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Рекламные материалы
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") FAQ
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Акции
            .col.col__xl-4
              .footer__menu-title.zeta Озеленение
              ul.footer__menu-list
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Фитодизайн
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Вертикальное
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Бизнес центров и офисов
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Гостиниц и мини-отелей
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Ресторанов и кафе
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Летних террас
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Торговых комплексов
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Фитнес-центров и SPA-салонов
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Зимнего сада
                li.footer__menu-list-item
                  a.footer__link.footer__text.text__lg(href="#") Уход за растениями
          .footer__info.row
            .col.col__xl-4
              a.footer__link.footer__text.text__lg(href="#") Договор оферты
            .col
              a.footer__link.footer__text.text__lg(href="#") Обработка персональных данных
  .footer__footer
    .container
      .row
        .col.col__xl-7
          .footer__text.text__lg 2021 © Green Land. Все права защищены
        .col.col__xl-9.footer__footer-right
          .footer__text.text__lg Сделано в
            a.footer__footer-link(href="https://www.cloudmill.ru/" target="_blank")  CloudMill