header.header
  .container
    .row
      .col.col__xl-4
        a.header__logo(href="/")
          +logo('white')
      .col.col__xl-8
        +headerMenu(menu)
      .col.col__xl-4
        .header__links
          a.text__md.text--uppercase.header__link(href="/contacts") контакты
          a.text__md.text--uppercase.header__link(href="tel:+78122091884", target="_blank") 8 812 209-18-84

