section.section.mission(data-scroll-section="")
  .mission__slider.swiper-container(data-mission-slider="")
    .mission__slider-underlay
      .mission__marquee.marquee3k
        .mission__marquee-conten-wrap
          .mission__marquee-content
            .text__md.text--uppercase.mission__marquee-text творчество
            .text__md.text--uppercase.mission__marquee-text созидание
            .text__md.text--uppercase.mission__marquee-text greenland
            .text__md.text--uppercase.mission__marquee-text красота


    .swiper-wrapper
      .mission__slide.swiper-slide
        .mission__main
          .gamma.mission__heading
            .
              Мы раскрываем #[br] потенциал пространства #[br] через #[span.accent.text--lowercase  #[span.mission__highlight.mission__highlight--1 красоту], #[span.mission__highlight.mission__highlight--2 творчество] #[br] и #[span.mission__highlight.mission__highlight--3 созидание].]
        img.mission__img(src="assets/images/mission__img-1.jpg" alt="Sketch")
      .mission__slide.swiper-slide
        .mission__main
          .gamma.mission__heading
            .
              Наша миссия #[br] #[span.accent.text--lowercase  — раскрытие потенциала #[br] пространства] через #[br] #[span.mission__highlight.mission__highlight--4 озеленение]
        img.mission__img(src="assets/images/mission__img-2.jpg" alt="Sketch")
      .mission__slide.swiper-slide
        .mission__main
          .gamma.mission__heading
            .
              Стремимся #[span.accent.text--lowercase #[span.mission__highlight.mission__highlight--6 изменить жизнь] #[br] #[span.mission__highlight.mission__highlight--3 людей]] в  больших городах #[br] #[span.accent.text--lowercase к #[span.mission__highlight.mission__highlight--5 лучшему]], помогая #[br] выбирать #[span.accent.text--lowercase гармоничные #[br] по дизайну композиции] #[br] из кашпо и растений
        img.mission__img(src="assets/images/mission__img-3.jpg" alt="Sketch")
      .mission__slide.swiper-slide
        .mission__main
          .gamma.mission__heading
            .
              Мы делаем дизайнерское #[br] озеленение #[span.accent.text--lowercase в #[span.mission__highlight.mission__highlight--1 ритме] #[br] #[span.mission__highlight.mission__highlight--7 большого города]], показывая, #[br] что горшки это не #[br] емкости для растений, #[br] #[span.accent.text--lowercase а предметы интерьера]
        img.mission__img(src="assets/images/mission__img-4.jpg" alt="Sketch")

    .mission__slider-controls
      .mission__slider-bullets(data-mission-slider-bullets="")
      .mission__slider-counter(data-mission-slider-counter="")