section.section.news(data-scroll-section="")
  .container
    .row.news__header
      .col__xl-14
        h2.beta.news__header-heading последние новости
      .col__xl-2.news__header-btn-wrap
        a.btn.news__header-btn все новости
    .row.news__main
      .col.col__xl-7
        a.news__item(href="#")
          .news__item-header
            .news__item-date.text__sm.text--uppercase  18 ноября 2020
            .news__item-name.delta.text--none В Green Land сегодня праздник
          .news__item-img-wrap
            img.news__item-img(src="assets/images/news__item-img-1.jpg", alt="")
          .news__item-tags
            .news__item-tag.text__sm.text--uppercase компания
            .news__item-tag.text__sm.text--uppercase продукция
          .news__item-desc.text__md Не тратьте время на поиск 3D-моделей товаров нашей линейки и ассортиментной матрицы Green Land.
      .col.col__xl-5
        a.news__item(href="#")
          .news__item-header
            .news__item-date.text__sm.text--uppercase  18 ноября 2020
            .news__item-name.delta.text--none Наши 3D-модели для ваших проектов
          .news__item-img-wrap
            img.news__item-img(src="assets/images/news__item-img-2.jpg", alt="")
          .news__item-tags
            .news__item-tag.text__sm.text--uppercase компания
            .news__item-tag.text__sm.text--uppercase продукция
          .news__item-desc.text__md Не тратьте время на поиск 3D-моделей товаров нашей линейки и ассортиментной матрицы Green Land.
      .col.col__xl-4
        .news__title-wrap
          .news__title.epsilon Мы раскрываем #[br] #[span.news__highlight.news__highlight--1 потенциал] #[br] пространства через #[br] #[span.accent.text--none красоту, творчество #[br] и #[span.news__highlight.news__highlight--2 созидание].]