section.section.projects(data-scroll-section="")
  .container
    .row.projects__header
      .col__xl-8
        h3.gamma.projects__header-heading Green Land — #[span.accent.text--lowercase #[span.projects__highlight.projects__highlight--1 эксперты]] #[br] в дизайнерском #[br] озеленении #[span.accent.text--lowercase более #[span.projects__highlight.projects__highlight--2 30 лет]]
      .col__xl-8
        .accent.epsilon.text--none.projects__header-subheading Трансформируем общественные места #[br]в приятные, гармоничные, безопасные.
        a.btn.projects__header-btn(href="#") каталог продукции
    .projects__slider.swiper-container(data-projects-slider="")
      .swiper-wrapper
        .swiper-slide.projects__slide
          .projects__item
            .projects__item-slider(data-fade-item-slider="")
              .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                img.projects__item-img.is-active(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
              .bullets.projects__item-slider-bullets
                .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
            .projects__item-caption
              .epsilon.projects__item-name Отель Crowne Plaza
              .projects__item-tags
                .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                .projects__item-tag.text__super-tn.text--uppercase Террасы
                .projects__item-tag.text__super-tn.text--uppercase Входные группы
        .swiper-slide.projects__slide
          .projects__item
            .projects__item-slider(data-fade-item-slider="")
              .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                img.projects__item-img.is-active(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
              .bullets.projects__item-slider-bullets
                .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
            .projects__item-caption
              .epsilon.projects__item-name Отель Crowne Plaza
              .projects__item-tags
                .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                .projects__item-tag.text__super-tn.text--uppercase Террасы
                .projects__item-tag.text__super-tn.text--uppercase Входные группы
        .swiper-slide.projects__slide
          .projects__item
            .projects__item-slider(data-fade-item-slider="")
              .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
              .bullets.projects__item-slider-bullets
                .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
            .projects__item-caption
              .epsilon.projects__item-name Отель Crowne Plaza
              .projects__item-tags
                .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                .projects__item-tag.text__super-tn.text--uppercase Террасы
                .projects__item-tag.text__super-tn.text--uppercase Входные группы
      .projects__slider-controls
        +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
        +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")